html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  color: rgb(0, 0, 0);
  height: 100%;
  line-height: 1.5em;
  margin: 10px;
  padding-bottom: 30px;
  text-align: center;
}

h1 img {
  height: 150px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

h2 {
  font-family: 'Nixie One', cursive;
  font-size: 40px;
}

p {
  margin-bottom: 1.5rem;
  font-family: 'Nixie One', cursive;
  padding-bottom: 50px;
}

a {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a[data-fluidbox] {
  background-color: rgb(255, 255, 255);
  border: none;
  margin-bottom: 1.5rem;
}

a[data-fluidbox] img {
  display: list-item;
  max-height: 400px;
  margin: 0px auto;
  opacity: 0;
  max-width: 100%;
}

.gallery {
  -webkit-flex-flow: row wrap;
}

.gallery a {
  margin-bottom: 1rem;
}

.gallery a.col-3 {
  width: 32%;
}

@media only screen and (max-width: 600px) {
  .gallery a,
  .gallery a[class^="col"] {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
